body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

h2 {
    font-size: 30px;
    color: aliceblue;
    text-align: center;
    margin-top: 20%;
}

h3 {
    font-size: 20px;
    color: aliceblue;
    text-align: center;

}